
.macaulay{
    color: rgb(179, 179, 6);
    font-size: x-large;

}
.charnock{
    color: green;
    font-size:x-large;
}
.hastings{
    color: crimson;
    font-size: x-large;
}
.martin{
    color: rgb(0, 145, 255);
    font-size:x-large ;
}